.quotes {
	padding: 64px 0 75px 0;
	&__container {
	}

	&__header {
	}

	&__slider {
	}
}

.header-quotes {

	&__title {
		margin-bottom: 21px;
	}

	&__desc {
		margin-bottom: 25px;
	}

	&__main {
	}

	&__decor {
	}
}

.slider-quotes {
	&__body {
	}

	&__item{ 
		opacity: 0 !important;
		&.swiper-slide-active {
			opacity: 1 !important;
		}

	}

	&__quote {
	}

	&__controls {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 400px;
		margin: 0 auto;
	}

	&__decor {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 1 33.333%;
		&::before{
			content: "";
			flex: 1 1 auto;
			height: 2px;
			background-color: #bb9c66;
		}
		&::after{
			content: "";
			width: 11px;
			height: 11px;
			flex: 0 0 11px;
			border: 1px solid #bb9c66;
			border-radius: 50%;
			margin: 0 5px;
		}
		&--reverse{
			transform: rotate(180deg);
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 1 33.333%;
	}

	&__icon {
		min-width: 50px;
		min-height: 50px;
		background: url(../img/quotes/icons/btn.svg) center no-repeat;
		cursor: pointer;
	}
}


.quote {
	display: flex;
	@media (max-width: 570px) {
		display: block;
	}
	&__image{	
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		flex: 0 0 320px/950px * 100%;
		padding: 0 20px;
		img{
			max-width: 100%;
		}
	}
	&__body{
		flex: 0 1 515px;
		padding-top: 85px;
		@media (max-width: 570px) {
			padding-top: 0px;
		}
	}
	&__text {
		margin-bottom: 30px/25px * 1em;
		font-size: 25px;
		font-style: italic;
		line-height: 30px;
		font-weight: 500;
	}

	&__author {
		color: #1c242a;
		font-size: 15px;
		font-weight: 400;
		line-height: 25px;
	}
}
